@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
/* .background-image {
    background-image: url('/public/images/home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
} */

